#ignore all hidden files except .gitignore
.*
!.gitignore

#ignore the following directories
CMakeFiles

#ignore the following files
cmake_install.cmake
CMakeCache.txt
Makefile
OP_0

#ignore files starting with
slurm-*
